.logout {
    background-color: rgb(241, 230, 177);
    color: black;
    border-color: rgb(236, 192, 44);
}

.titleheader {
    background-color: rgb(204, 212, 186);
    border-color: rgb(170, 65, 70);
}